<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<!-- <connectionStrings> conexion del santi
		
		<add name="ConexionSQL"
		connectionString="Data Source=MSI\SQLSERVER;Initial Catalog=SistemaInventarios;Integrated Security=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;"
		providerName="System.Data.SqlClient"/>
	</connectionStrings> -->

	 <connectionStrings>
		<add name="ConexionSQL"
			 connectionString="Data Source=AARONCOMPU\AARONNDEVGG2;Initial Catalog=SistemaInventarios;User ID=SA;Password=12345;Encrypt=False;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<!-- <connectionStrings> Conexion del daniel
	<add name="ConexionSQL"
		 connectionString="Data Source=DANIELDEV\DANIELDEVG1;Initial Catalog=SistemaInventarios;User ID=SA;Password=12345;Encrypt=False;"
		 providerName="System.Data.SqlClient"/>
</connectionStrings> -->

	<!--  <connectionStrings> Conexion Damian
		<add name="ConexionSQL"
			 connectionString="Data Source=DESKTOP-39LJ8QO\GONZALEZRIGELGP1;Database = SistemaInventarios;Integrated Security = true"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings> -->


	<!--  <connectionStrings> Conexion Vannessa
		<add name="ConexionSQL"
			 connectionString="Data Source=DESKTOP-39LJ78QO\vanessaGP1;Database = SistemaInventarios;Integrated Security = true"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings> -->
</configuration>
